<ion-header>
  <ion-toolbar>
    <ion-title>Razas de gatos</ion-title>
    <ion-searchbar [formControl]="search" placeholder="Buscar raza en inglés" (ionInput)="filteredBreeds()"> </ion-searchbar>
    <ion-progress-bar type="indeterminate" *ngIf="isLoading" color="secondary"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let breed of breeds">
    <ion-card-header>
      <ion-card-title>{{ breed.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="image-container">
        <img [src]="breed.image?.url" *ngIf="breed.image?.url" width="100%" [alt]="breed.name" />
      </div>
      <div class="end">
        <ion-button fill="clear" size="small" color="medium" (click)="detail(breed)">Más ...</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>